.houseowner-navbar {
    background-color: #f1d4b2;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top:5px;
  }
  
  .houseowner-navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    margin: 0;
    padding: 0;
  }
  
  .houseowner-navbar li {
    margin: 0 1rem;
  }
  
  .houseowner-navbar a {
    text-decoration: none;
    color: #343a40; 
    font-size: 1.2rem;
    transition: color 0.3s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
  }
  
  .houseowner-navbar a:hover {
    color: #007bff; /* Blue color on hover */
  }
  
  .houseowner-navbar a.active {
    font-weight: bold;
    color: #0056b3; /* Darker blue for active link */
  }
  